<div>
	<h3>Items</h3>
	
	<h4>People</h4>
	<ul class="list-group m-map-items">
		<li class="list-group-item">
			<div class="input-group input-group-sm">
				<input type="text" class="form-control" ng-model="newPerson"/>
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="addPerson(newPerson, item); newPerson = ''" type="button">+</button>
				</span>					
			</div>
		</li>				
		<li class="list-group-item" ng-repeat="person in item.people | reverse">
			<div class="input-group input-group-sm">
				<span class="input-group-addon">
					<input type="checkbox" ng-model="selectedPeople[person]">
				</span>
				<input type="text" class="form-control" ng-model="person"/>
			</div>
		</li>
	</ul>

	<h4>Years</h4>
	<ul class="list-group m-map-items">
		<li class="list-group-item">
			<div class="input-group input-group-sm">
				<input type="text" class="form-control" ng-model="newYear"/>
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="addYear(newYear)" type="button">+</button>
				</span>				
			</div>
		</li>			
		<li class="list-group-item" ng-repeat="year in item.years | reverse">
			<div class="input-group input-group-sm">
				<span class="input-group-addon">
					<input type="checkbox" ng-model="selectedYears[year]">
				</span>
				<input type="text" class="form-control" ng-model="year"/>
			</div>
		</li>
	</ul>	
</div>