<div class="row">
	<div class="container m-map col-md-8">

		<div class="m-map-info row">
			<div class="col-md-6">
				<div>
					<map-item />										
				</div>
				<div>
					<map-place />													
				</div>

			</div>
					
			<div class="col-md-6">
				<map-items />
			</div>
		</div>		
		
		<ui-gmap-google-map 
			center='map.center' 
			zoom='map.zoom'
			events='map.events'
			options='map.options'

		>

	        <ui-gmap-marker 
	        	coords="newPlace.coords" 
	        	idkey="1"
	        	icon="'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|F224D8'"
	        >
	        </ui-gmap-marker>

			<ui-gmap-markers 
				models="markers" 
				idkey="'_id'" 
				coords="'self'" 
				icon="'icon'" 
				events="marker.events"
			>
	        </ui-gmap-markers>


		</ui-gmap-google-map>	
	</div>


	<div class="col-md-4" ng-if="activeMarker">
		<h3>Active Marker</h3>
		<ul class="list-group">				
			<li class="list-group-item" ng-repeat="item in activeMarker.items">
				<img ng-src="{{item.data.src}}" alt="" ng-if="item.data.type == 'image'" width="100px">
				<span ng-if="item.data.type !== 'image'">{{item.data.name}}</span>
			</li>
		</ul>
	</div>
</div>

