<div>
	<h3>Item</h3>

	<div ng-if="item.type == 'text'">
		<div class="input-group">
		  <span class="input-group-addon">url</span>
		  <input type="text" class="form-control" placeholder="src" ng-model="item.url">
		</div>	
		<br/>
		<div class="input-group">
		  <span class="input-group-addon">name</span>
		  <input type="text" class="form-control" placeholder="name" ng-model="item.name">
		</div>	
	</div>

	<div ng-if="item.type == 'image'">
		<img ng-src="{{item.node.src.www}}">
		
		<div class="input-group">
		  <span class="input-group-addon">url</span>
		  <input type="text" class="form-control" placeholder="src" ng-model="item.node.src.www">
		</div>		
		
		<br/>
		
		<div class="input-group">
		  <span class="input-group-addon">parent</span>
		  <input type="text" class="form-control" placeholder="parent" ng-model="item.parent">
		</div>						
	</div>	
</div>