.m-html-tool
{
    &-nav
    {
        position: fixed;
        top: 0;
        right: 0;

        overflow: auto;

        height: 100%;

        background-color: white;
    }
}

.in-view
{
    border: 1px solid red;
}

.people
{
    opacity: .8;
    background-color: yellow;
}

.years
{
    opacity: .8;
    background-color: green;
}

.streets
{
    opacity: .8;
    background-color: blue;
}
