<li class="list-group-item is-{{child.status}} clearfix">
    <!-- folder -->
    <span ng-if="isFolder(child)" class="clearfix">
        {{child._id}}

      <span class="btn-group pull-right" ng-if="isFolder(child)">
        <button type="button" class="btn btn-default">Analyze</button>
        <button type="button" class="btn btn-default" ng-click="addtotrash(child._id)">Trash</button>
        <button class="btn btn-default" ng-click="toggleFolder()">Toggle</button>
      </span>
    </span>
    <!-- file -->
    <span ng-if="!isFolder(child)">
        {{child._id}}
      <span class="btn-group pull-right">
        <button type="button" class="btn btn-default">Analyze</button>
        <button type="button" class="btn btn-default" ng-click="addtotrash(child._id)">Trash</button>
        <button type="button" class="btn btn-default" ng-click="openfile(child._id)">Open</button>
<!--         <a href="" ui-sref="html({ path: decode(child._id) })">Open</a>
 -->      </span>
    </span>

</li>